:root{
  --color-message-robot :#304ffe;
  --color-message-trans :#d50000;
  --color-title         :#2EB5E0;
  --color-btn-default   :#00c853;
  --font-family         :'Roboto', serif;
  --padding-btn         : 12px 10px;
  --font-seze-nav       : 1.3rem;

  --size-hexa           : 145px;
  --background-hexa     : #2EB5E0;
  --hexa-inactive       : #bdbdbd;
}
html {
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  accent-color: #7c4dff;
}

.title,
.intro {
  text-align: center;
  margin-bottom: 1rem;
}

.intro {
  margin-bottom: 4rem;
}

.title:nth-of-type(2) {
  margin-top: 6rem;
}

/* Hexagon specific code*/
.honeycombs {
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 48px
}

.honeycombs .inner_span {
  display: block;
  height: 100%;
  width: 100%;
  background-color: #EE0013;
  font-family: 'Roboto', serif;
  color: #fff
}

.honeycombs .honeycombs-inner-wrapper {
  display: inline-block;
  width: 700px;
  position: relative
}

.honeycombs .hex_l,
.honeycombs .hex_r {
  overflow: hidden;
  position: absolute
}

.honeycombs .hex_l {
  transform: rotate(60deg)
}

.honeycombs .hex_r {
  transform: rotate(-120deg)
}

.honeycombs .hex_inner {
  display: block;
  visibility: visible;
  transform: rotate(60deg);
  cursor: pointer
}

.comb-container .inner-text-description-long {
  display: none;
  text-align: left;
  background-color: #fcfcfc;
  color: #333;
  line-height: 1.5;
  margin: 0;
  padding: 36px 24px 24px;
  max-width: 310px;
  position: absolute;
  z-index: 9
}

@media (min-width:700px) {
  .comb-container .inner-text-description-long {
    width: 310px
  }
}

.comb-container .inner-text-description-long p {
  font-size: 1rem;
}

.comb-container .inner-text-description-long p:last-of-type {
  margin-bottom: 1rem;
}

.comb-container .inner-text-description-long.active {
  display: block;
}

.comb-container .inner-text-description-short.valign {
  display: table-cell;
  vertical-align: middle;
  padding: 14px;
  font-weight: bold;
}

.comb {
  position: absolute;
  display: inline-block
}

.comb .inner-text-description-long,
.comb .inner-text-description-short,
.comb .inner-text-title {
  display: block;
  max-width: 78%;
  text-align: center;
  margin: 0 auto
}

.comb .inner-text-title {
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 1;
  margin-bottom: 1rem
}

.comb .comb-description-long,
.comb .comb-description-short,
.comb .comb-title {
  display: none
}

.comb .inner-text-description-long,
.comb .inner-text-description-short {
  font-weight: 400;
  line-height: 1.3
}

.comb:hover .inner_span {
  background-color: #700000
}

.comb.disabled .inner_span {
  background-color: #CDCCCC
}

.comb.row1 .inner_span {
  background-color: #06393F
}

.comb.row1:hover .inner_span {
  background-color: #020f10
}

.comb.row2 .inner_span {
  background-color: #2EB5E0
}

.comb.row2:hover .inner_span {
  background-color: #0C6980
}

.comb.row3 .inner_span {
  background-color: #0093A4
}

.comb.row3:hover .inner_span {
  background-color: #006571
}

.comb.row4 .inner_span {
  background-color: #008c9e
}

.comb.row5 .inner_span {
  background-color: #6fcbdb
}

.comb .inner_span {
  display: table;
  display: flex;
  flex-direction: column;
  justify-content: center
}

.inner-text-description-long + .comb.disabled {
  pointer-events: none
}

.close {
  position: absolute;
  top: 12px;
  top: .75rem;
  right: 12px;
  right: .75rem;
  opacity: 1;
   -webkit-appearance: none;
   padding: 0;
   cursor: pointer;
   background: 0 0;
   border: 0;
   font-size: 1.325rem;
   font-weight: 700;
   line-height: 1;
   color: #555;
   text-shadow: 0 1px 0 #fff;
}

.close:hover {
  color: #9E9E9E;
}

.link {
  color: #005E6A;
}

.containerTitle,.title{
  text-align: center;
  color: #fff;
  font-family: var(--font-family);
}
.title{
  color: var(--color-title);
  text-shadow: 2px 1px 2px #000;
}

.mymodal{
  background: rgb(35, 83, 144) !important;
  border-radius: 8px !important;
}
.containerInfo{
  color: #fff;
  display: flex;
  font-family: var(--font-family);
  font-size: 1.5rem;
  justify-content: space-between;
}
.containerInfo-img{
  flex-basis: 35%;
}
.containerInfo-text{
  flex-basis: 60%;
  overflow: auto;
  height: 250px;
}
.containerInfo img{
  width: 100%;
}
.wrapper{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  display: none;
  align-items: center;
}

.imgtransition {
  position: fixed;
  right: 0px;
  bottom: 50px;
  animation: slidein 3s infinite ease-in-out;
  font-family: var(--font-family);
  width: 100px;
}
.box-small{
  width: 150px;
}

.imgtransition::before{
  content: "Prueba tus habilidades !";
  position: absolute;
  transform: rotate(-45deg);
  font-size: 1rem;
  color: var(--color-message-robot);
  font-weight: 600;
  animation: text 4s infinite;
  top: -0px;
  left: -80px;

  width: 200px;
  display: block;
}

.imgtransition::after{
  content: "";
  position: absolute;
  display: block;
  bottom:-50px;
  left: 10px;
  width: 80px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: inset 4px 4px 5px #fff ;
  box-shadow: inset 8px 8px 3px #1b6d86 ;
}

.modalchallenge{
  display: none;
}

.wrapperInit{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 100;
  background-image:  linear-gradient(25deg,#9e9e9e 10%,#263238);
}
.inactive{
  pointer-events: none;
  opacity: 0;
}


/* Modal Inicio */

.wrapperInit{
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapperInitContainer{
  border: 1px solid yellow;
  border-radius: 10px;
  height: 60vh;
  width: 50vw;

  display: flex;
  justify-content: space-between;

}
.wrapper-info, .wrapper-user{
  flex-basis: 48%;
  padding: 8px;
}
.titleInit{
  font-family: var(--font-family);
  font-size: 3.5rem;
  font-weight: 600;
  text-align: center;
  color: var(--color-title);
  text-shadow: 1px 1px 1px #000;
}
.info-text{
  border: 1px solid #ddd;
  border-radius: 5px;
  background-image: linear-gradient(25deg,#263238 10%,#9e9e9e);
  color: #fff;
  padding: 8px;

}

.btnInit{
  background-color: var(--color-btn-default);
  border-radius: 8px;
  border: 1px solid var(--color-btn-default);
  color: #fff;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 1.2px;
  padding: var(--padding-btn);
}

.navbar{
  font-size: var(--font-seze-nav );
}
.containerHeart, .center{
  display: flex;
  align-items: center;
}
.containerHeart{
  width: 70px;
  justify-content: space-between;
}
.heart-item{
  display: flex;
  justify-content: center;
}

.lifePoints{
  color: #1a237e;
  font-weight: 600;
}
.nav-label{
  color: #3f51b5;
}
.cl-blue{
  color: #311b92;
}

.heart{
  animation: heart 1.5s infinite ease-in-out;
  color: red;
  font-size: 1rem;
  text-shadow: 1px 1px 3px #4a148c;
}
.modal-content-points{
  height: 70vh;
}
.modal-body-points{
  display: flex;
  justify-content: center;
}
.container-points{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* text-transform: lowercase; */
}
.title-modal-red{
  color: #d50000;
}
.title-modal-blue{
  color: #0d47a1;
}
.title-points{
  font-family: var(--bs-body-font-family);
  text-align: center;
  font-weight: 600;
}
.content-img{
  width: 100px;
}
.imgPoints{
  position: relative;
  animation: slideinPoins 4s infinite ease-in-out;
}
.sombra{
  /* content: "";
  position: absolute;
  display: block;
  left: 10px;*/
  margin-top: 35px;
  width: 60px;
  height: 30px; 
  background: #eceff1;
  border-radius: 50%;
  box-shadow: 2px 5px 10px #b3e5fc ,inset 8px 8px 20px #0277bd ;
  animation: sombra 4s infinite ease-in-out;
}

.m-5{margin: 5px;}
.mr-5{margin-right: 5px; }
.mr-10{margin-right: 10px; }
img{ width: 100%;}
.modal-header{ border-bottom: none;}
/*
.imgtransition:hover { 
  background-position:-450px top; 
}  */
.container-pol{
  padding-left: 22px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(var(--size-hexa),var(--size-hexa)));
  column-gap: 26px;
  row-gap: 10px;
}
.item-pol{
  height: var(--size-hexa);
}
.hexagono2{
  height: calc(var(--size-hexa)/1.76321);
  position: relative;
  width: var(--size-hexa);
  background-color: var(--background-hexa);
  transform: rotate(-30deg);
  animation: hexa 4s infinite ease-in-out;
  box-shadow: 1px 1px 3px #000;
}

.hexagono2:before {
  background: inherit;
  content: '';
  height: 100%;
  position: absolute;
  transform: rotate(-60deg);
  transform-origin: 50% 50%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
  box-shadow: 1px 1px 3px #000;
}
.hexagono2:after {
  background: inherit;
  content: '';
  height: 100%;
  position: absolute;
  transform: rotate(60deg);
  transform-origin: 50% 50%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
  box-shadow: 1px 1px 3px #000;
}
.hexa-inactive{
  background-color: var(--hexa-inactive);
}
.hexagono2:hover{
  cursor: pointer;
  background-color: #1b6d86;
}
.text-pol{
  font-family: serif;
  color: #fff;
  left: 33%;
  position: absolute;
  top: 25%;
  transform: rotate(30deg);
  z-index: 1;
  animation: hexa-text 4s infinite ease-in-out;
}
body{
  background: #b3e5fc;
}
.navb{
  background: #e1f5fe;
}

.card-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.card-img{
  width: 50%;
}
.card2{
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  flex-basis: 48%;
  padding: 8px;
  box-shadow: 0.5px 0.5px 3px #9575cd;
}
.modal-header{
  padding: 0.35rem;
  display: flex;
  justify-content: center;
}
.modal-header .btn-close {
  position: absolute;
  right: 10px;
}
.card-text{
  text-align: justify;
}

.CodeMirror-scroll{
  pointer-events: none !important;
}
.modal-xl{
  display: flex;
  justify-content: center;
}
.modal-xl > .modal-content{
  width: 98vw;
}
.cardContent{
  display: flex;
  justify-content: space-between;
}
.cardContent-code{width: 70%;}
.CodeMirror {height: 68vh;}
.cardContent-form{width: 28%;}

.mt-10{margin-top: 10px;}
@keyframes slidein {
  0% {right: 55px;}
  30%{ transform: rotate(30deg);}
  50%{right: 100px;}
  80%{ transform: rotate(-30deg);}
  100% {right: 55px;}
}

@keyframes text{
  0% {opacity: 0.5;  }
  30%{opacity: 1;}
  50%{opacity: 0.5; color:var(--color-message-trans)}
  70%{opacity: 1;}
  100% {opacity: 0.5;}
}

@keyframes heart {
  0% {transform: scale(1);}
  50% {transform: scale(1.2)}
  100% {transform: scale(1)}
}
@keyframes slideinPoins {
  0% {top: 0px;transform: rotate(15deg)}
  50%{top: 40px;transform: rotate(0deg)}
  100% {top: 0px;transform: rotate(15deg)}
}
@keyframes hexa {
  0% {transform: rotate(-30deg)}
  50%{transform: rotate(90deg)}
  100% {transform: rotate(-30deg)}
}
@keyframes hexa-text {
  0% {transform: rotate(30deg)}
  50%{transform: rotate(-90deg)}
  100% {transform: rotate(30deg)}
}
@keyframes sombra {
  0% {width: 0px;height: 0px;}
  50%{width: 60px;height: 30px;}
  100% {width: 0px;height: 0px;}
}

